.modal {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 453px;
  width: 704px;
  background-color: #171717;
  cursor: pointer;
  border-radius: 10px;
}

.modal p {
  color: #fff;
}

.modal li {
  color: #fff;
}

.modal img {
  height: 356px;
  width: 256px;
  left: 2972px;
  top: 18px;
  border-style: groove;
  border-color: #a8945c;
}