.container {
  margin: 0 auto;
  background-image: url(../pages/../public/topo.png);
  background-image: url(https://github.com/MarcelloFreitasMoraes/Harry-Potter-REACT/blob/main/public/back.png?raw=true);
  background-repeat: no-repeat;
  height: 1100px;
  width: 1279px;
}

/* .logo {
margin-top: ;
} */

.logo2 {
  display: flex;
  margin-top: 280px;
  margin-left: 50px;
}


.logo2 p {
  font-size: 30px;
  color: #a8945c;
}

/* 
.logo22 {
  margin-top: 5px;
} */

.linha img {
  width: 800px;
  height: 3px;
  color: #a8945c;
  margin-left: 90px;
}

.cards {
  display: flex;
  margin-left: 31px;
  border-radius: 0px;
}

.cards img {
  margin: 15px;
  height: 288px;
  width: 272px;
  /* margin-top: 300px; */
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */