.container {
  margin: 0 auto;
  background-image: url(../pages/../public/topo.png);
  background-image: url(https://github.com/MarcelloFreitasMoraes/Harry-Potter-REACT/blob/main/public/back.png?raw=true);
  background-repeat: no-repeat;
  height: 1100px;
  width: 1279px;
}

.logo {
  width: 400px;
  margin-top: 70px;
  margin-left: 65px;
}

.button button {
  text-transform: uppercase;
  background-color: #a8945c;
  width: 210px;
  height: 59px;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 110px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;


}

.logo2 {
  display: flex;
  margin-top: 124px;
  margin-left: 50px;
}


.logo2 p {
  font-size: 30px;
  color: #a8945c;
  margin-left: 16px;
  margin-top: 6px;
}


.logo22 {
  margin-bottom: 5px;
  margin-top: -4px;
}


.linha img {
  width: 785px;
  height: 3px;
  color: #a8945c;
  margin-left: 48px;
  margin-top: 25px;
}

.cards {
  display: flex;
  margin-left: 31px;
  border-radius: 0px;
}

.cards img {
  margin: 15px;
  height: 288px;
  width: 272px;
  /* margin-top: 300px; */
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */